body {
	font-family: "Karla", sans-serif;
	background-color: #e2ecff;
	min-height: 100vh;
}

.leave-card {
	border: 0;
	border-radius: 27.5px;
	box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
	overflow: hidden;
}

.leave-card .form-control {
	border: 1px solid #d5dae2;
	padding: 15px 25px;
	margin-bottom: 20px;
	min-height: 45px;
	font-size: 13px;
	line-height: 15;
	font-weight: normal;
}

.leave-card .form-control::-webkit-input-placeholder {
	color: #919aa3;
}

.leave-card .form-control::-moz-placeholder {
	color: #919aa3;
}

.leave-card .form-control:-ms-input-placeholder {
	color: #919aa3;
}

.leave-card .form-control::-ms-input-placeholder {
	color: #919aa3;
}

.leave-card .form-control::placeholder {
	color: #919aa3;
}

.leave-card .submit-btn {
	padding: 13px 20px 12px;
	background-color: #4472c4;
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	margin-bottom: 24px;
}

.leave-card .submit-btn:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #000;
}

.divider {
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	height: 45px;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	align-items: center;
	padding: .65rem .75rem;
}

#leaveDuration {
	font-size: 13px;
}

#title {
	padding: 35px;
	color: #4472c4;
	text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
  height: 100vh;
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}

.calendar__week {
  grid-auto-rows: auto;
  text-align: right;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

.calendar {
  background-color: white;
  border: 1px solid #e1e1e1;
}

.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar__day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
  border-right: 0;
}
